/*import the fonts used*/
@import url('https://font.googleapis.com/css?family=courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --dark-color: #2d2c2c
    --purple-solid: #350a4f
    --purple-transparent: rgba(53, 10, 79, .7)
    --purple-transparent-alt: rgba(53, 10, 79, .5)
    --purple-light: #8f50fb
    --yellow-solid: #fa9e2c
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light))
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid))
}
/*Global styles*/
html{
    font-size: 10px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--dark-color);
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
section{
    padding: 5rem 0;
}
/*reusable styles*/
.btn{
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.form-btn{
    margin-top: 2.5rem;
    cursor: pointer;
}
.btn-gradient{
    background-image: linear-gradient(to right, #fa9e2c, #8f50fb);
}
.btn-gradient:hover{
    background-image: linear-gradient(to right, #8f50fb, #fa9e2c);
}
.btn-purple{
    background-color: #350a4f;
}
.btn-purple:hover{
    background-color: #562c79;
}
.dots{
    font-size: 2.4rem;
    margin-left: .5rem;
    opacity: .75%;
}
/*Header Styles*/
.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(112, 44, 124, 0.7);
    z-index: 999;
}
.header.active{
    background-color: #350a4f;
}
/*Header styles - nav*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    max-width: 80%;
}
.hamburger-menu{
    font-size: 2.6rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1500;
}
.hamburger-menu .fa-times{
    display: none;
}
.menu-open .hamburger-menu .fa-times{
    display: block;
}
.menu-open .hamburger-menu .fa-bars{
    display: none;
}
.nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #350a4f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
.menu-open .nav-list{
    opacity: 1;
    transform: scale(1);
}
.nav-item:not(:last-child){
    margin-bottom: 5rem;
      
}
.nav-link{
    display: block;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
}
/*Hero section styles*/
.hero{
    width: 100%;
    height:100vh;
    background: url("./images/background.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(53, 10, 79, .5);
    z-index: -1;
}
.main-heading{
    color: #fff;
    line-height: 1;
    text-shadow: 1px 1px 1rem rgba(0,0,0,.5);
    margin-bottom: 2.5rem;
}
.title{
    font-size: 4.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.subtitle{
    font-size: 3.6rem;
    font-weight: 300;
    font-family: 'Courgette', cursive;
}
/*Booking section styles*/
.booking{
    background-image: linear-gradient(to right, #fa9e2c, #8f50fb);
}
.input-group{
    margin-bottom: 1.5rem;
}
.input-label{
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1rem;
}
.input,
.options{
    outline: none;
    border: none;
    width: 100%;
    min-height: 4rem;
    padding: 1rem;
    font-weight: bold;
    color: #a5a5a5;
    letter-spacing: 2px;
    font-family: *Open Sans*, sans-serif;
    resize: none;
}
::placeholder{
    color: inherit;
}
/*featured rooms section styles*/
.section-head{
    text-align: center;
    margin-bottom: 5rem;
}
.heading{
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
}
.sub-heading{
    font-size: 1.7rem;
    font-family: 'Courgette', cursive;
    font-weight: 300;
    color: #a5a5a5;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid: 2.5rem;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 10px;
    justify-content: center;
}
.featured-rooms{
    height: 35rem;
    color: #fff;
    padding: 1rem;
    position: relative;
    z-index: 0;
}
.featured-rooms::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 42, 89, 0.5);
    z-index: -1;
}
.rooms-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.room-name{
    font-size: 2.6rem;
}
.room-price{
    font-size: 1.8rem;
}
.room-rating{
    margin: 1rem 0 2.5rem;
}
.rating{
    color: #fa9e2c;
}
/*special section styles*/
.offer{
    background: linear-gradient(to right, rgba(250,158,44,.8), rgba(143,80,251,.8)),
                url("./images/executive.jpg") bottom center no-repeat;
                background-size: cover;
}
.offer-content{
    background-color: #fff;
    text-align: center;
    padding: 5rem 1rem;
    position: relative;
    overflow: hidden;
}
.discount{
    background-color: #fa9e2c;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    outline: 2px solid #fa9e2c;
    outline-offset: .5rem;
}
.paragraph{
    color: #a5a5a5;
    margin-bottom: 2.5rem;
}
/*lounges section styles*/
.lounge{
    background-color: #f2f6f9;
}
.image-wrap{
    position: relative;
    height: 25rem;
    margin-bottom: 10px;
}
.image-wrap::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(131, 87, 159, 0.5);
}
.lounge-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lounge-name{
    font-size: 2.6rem;
    background-color: #fa9e2c;
    color: #f2f6f9;
    padding: .5rem 2rem;
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    z-index: 10;
}
/*contact section styles*/
.contact-content{
    display: flex;
    justify-content: center;
}
.traveler-wrap{
    display: none;
}
.contact-form{
    width: 100%;
    background-image: linear-gradient(to right, #fa9e2c, #8f50fb);
    padding: 2.5rem;
}
.contact-form .input{
    display: block;
    background-color: transparent;
    color: #fff;
    font-weight: normal;
    border-bottom: 2px solid #fff;
    padding-left: 0;
}
.bar{
    display: block;
    position: relative;
}
.bar::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #8f50fb;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}
.contact-form .input:focus + .bar::after{
    transform: scaleX(1);
}
/*footer sector*/
.footer{
    padding: 5rem 0;
    background-color: #350a4f;
    color: #fff;
}
.footer-content-brand{
    margin-bottom: 5rem;
}
.footer .paragraph{
    color: inherit;
}
.footer-heading{
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.social-media{
    display: flex;
}
.sm-link{
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border: 2px solid #fa9e2c;
    border-radius: 50%;
    display: flex;
    margin-right: 1rem;
    transition: background-color .5s;
}
.sm-link:hover{
    background-color: #fa9e2c;
    color: var(--dark-color);
}
.sm-link i{
    margin: auto;
}

/*Media quaries*/
@media screen and (min-width: 768px) {
    /*header section styles*/
    .header{
        height: 10rem;
    }
    .header.active{
        height: 6rem;
    }
    /*hero section style*/
    .title{
        font-size: 8rem;
    }
    /*contact setion styles*/
    .contact-content{
        justify-content: space-between;
    }
    .traveler-wrap{
        display: block;
        flex: 0 0 45%;
    }
    .traveler-wrap img{
        width: 100%;
    }
    .contact-form{
        flex: 0 0 50;
        align-self: flex-start;
    }

    .input-group-wrap{
        display: flex;
    }
    .input-group-wrap .input-group{
        width: 50%;
        margin-right: 2rem;
    }

    .input-group-wrap .input-group:last-child{
        margin-right: 0;
    }

    /*footer section styles*/
    .footer{
        overflow-x: hidden;
    }
    .footer-content{
        display: flex;
        justify-content: space-between;
    }
    .footer-content-brand{
        margin-bottom: 0;
        flex: 0 0 60%;
    }
    .footer .paragraph{
        margin-top: 2.5rem;
    }
    .footer-heading{
        margin-bottom: 5rem;
    }
    .social-media-wrap{
        flex: 0 0 40%;
        margin-left: 2.5rem;
    }

}

@media screen and (min-width: 1000px){
    section:not(.booking){
        padding: 10rem 0;
    }
    /*header section styles*/
    .hamburger-menu{
        display: none;
    }
    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        flex-direction: row;
        justify-content: initial;
        opacity: 1;
        transform: scale(1);
    }
    .nav-item:not(:last-child){
        margin-right: 3rem;
        margin-bottom: 0;
    }
    .nav-link{
        font-size: 1.3rem;
        font-weight: normal;
        transition: color .5s;
    }
    .nav-link:hover{
        color: #fa9e2c;
    }
    /*hero section style*/
    .title{
        font-size: 12rem;
    }
    .sub-title{
        font-size: 4.6rem;
    }
    /*Booking section styles*/
    .book-form{
        display: flex;
        justify-content: space-between;
    }
    .book-form .input-group{
        margin-bottom: 0;
    }

    .book-form .input-group:first-child{
        flex: 0 0 20%;
    }
    .input,
    .options{
        min-width: 10rem;
    }

    }
    @media screen and (min-width: 1200px){
        .book-form .input-group:first-child{
            flex: 0 0 30%;
        }
    }